<!-- START: pages/login-beta -->
<div class="cat__pages__login--fullscreen"
	style="background-image: url(assets/modules/pages/common/img/login/1.jpg)">
	<div class="cat__pages__login__header">
		<div class="row">
			<div class="col-lg-8">
				<div class="cat__pages__login__header__logo">
					<a href="javascript: history.back();"> <img
						src="assets/modules/pages/common/img/logo-inverse.png"
						alt="Clean UI Admin Template" />
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="cat__pages__login__header__menu">
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item"><a
							href="javascript: history.back();">&larr; Back</a></li>
						<li class="list-inline-item active"><a
							href="javascript: void(0);">Login</a></li>
						<li class="list-inline-item"><a href="javascript: void(0);">About</a></li>
						<li class="list-inline-item"><a href="javascript: void(0);">Support</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div
		class="cat__pages__login__block cat__pages__login__block--extended">
		<div class="row">
			<div class="col-xl-12">
				<div class="cat__pages__login__block__inner">
					<div class="cat__pages__login__block__form">
						<h4 class="text-uppercase">
							<strong>Please log in</strong>
						</h4>
						<br />
						<div *ngIf="globalErrors.length > 0" class="alert alert-danger" role="alert">
							<button aria-label="Close" class="close" type="button" (click)="clearErrors()">
								<span aria-hidden="true">×</span>
							</button>
							<strong>Oh snap!</strong> There was an error with your request.
						</div>

						<form (ngSubmit)="login($event)" #loginForm="ngForm">
							<div class="form-group">
								<label class="form-label" for="username">Username</label> <input
									id="username" class="form-control" placeholder="Email"
									name="username" type="email" [(ngModel)]="model.username"
									required minlength="6" #username="ngModel" email>
								<div class="form-control-error-list" *ngIf="username.invalid && (username.dirty || username.touched)">
									<ul>
										<li *ngIf="username.errors.required">Email is required.</li>
										<li *ngIf="username.errors.minlength">Email must be at least 6 characters long.</li>
										<li *ngIf="username.errors.email">Email is invalid.</li>
									</ul>
								</div>
							</div>
							<div class="form-group">
								<label class="form-label" for="password">Password</label> <input
									id="password" class="form-control password has-danger"
									name="password" type="password" placeholder="Password"
									[(ngModel)]="model.password" required minlength="8"
									maxlength="30" #password="ngModel">
								<div class="form-control-error-list" *ngIf="password.invalid && (password.dirty || password.touched)">
									<ul>
										<li *ngIf="password.errors.required">Password is required.</li>
										<li *ngIf="password.errors.minlength">Email must be at least 8 characters long.</li>
										<li *ngIf="password.errors.maxlength">Email cannot be more than 30 characters long.</li>
									</ul>
								</div>
							</div>
							<div class="form-group">
								<a href="javascript: void(0);"
									class="pull-right cat__core__link--blue cat__core__link--underlined">Forgot
									Password?</a>
								<div class="checkbox">
									<label> <input type="checkbox" name="example6" checked>
										Remember me
									</label>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary mr-3"
									[disabled]="loginForm.invalid">Sign In</button>
								<span class="register-link"> <a href=""
									class="cat__core__link--blue cat__core__link--underlined">Register</a>
									if you don't have account
								</span>
							</div>
							<div class="form-group">
								<span> Use another service to Log In </span>
								<div class="mt-2">
									<a href="javascript: void(0);" class="btn btn-icon"> <i
										class="icmn-facebook"></i>
									</a> <a href="javascript: void(0);" class="btn btn-icon"> <i
										class="icmn-google"></i>
									</a> <a href="javascript: void(0);" class="btn btn-icon"> <i
										class="icmn-windows"></i>
									</a> <a href="javascript: void(0);" class="btn btn-icon"> <i
										class="icmn-twitter"></i>
									</a>
								</div>
							</div>
						</form>
					</div>
					<div class="cat__pages__login__block__sidebar">
						<h4 class="cat__pages__login__block__sidebar__title">
							<strong>Agile Dev Meetup</strong> <br /> <span>2017</span>
						</h4>
						<div class="cat__pages__login__block__sidebar__item">Lorem
							Ipsum is simply dummy text of the printing and typesetting
							industry. Lorem Ipsum has been the industry's standard dummy text
							ever since the 1500s.</div>
						<div class="cat__pages__login__block__sidebar__item">Ipsum
							has been the industry's standard dummy text ever since the 1500s.
						</div>
						<div class="cat__pages__login__block__sidebar__place">
							<i class="icmn-location mr-3"> <!-- -->
							</i> New York, USA
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cat__pages__login__footer text-center">
		<ul class="list-unstyled list-inline">
			<li class="list-inline-item"><a href="javascript: void(0);">Terms
					of Use</a></li>
			<li class="active list-inline-item"><a
				href="javascript: void(0);">Compliance</a></li>
			<li class="list-inline-item"><a href="javascript: void(0);">Confidential
					Information</a></li>
			<li class="list-inline-item"><a href="javascript: void(0);">Support</a></li>
			<li class="list-inline-item"><a href="javascript: void(0);">Contacts</a></li>
		</ul>
	</div>
</div>
<!-- END: pages/login-beta -->
